.footer {
    background-color: black;
    width: 100%;
    text-align: center;
    margin-top: 2em;
}

h4 {
    text-align: center;
    font-size: 5;
    padding-bottom: 0.2em;
    padding-left: 0.1em;
}